#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card{
  border: 1px solid black;
  border-radius: 10px ;
  overflow: hidden;
  box-shadow: 0 4px 8px black;
  white-space: 400px;
  margin: 15px;
  background-color: burlywood;
  transition: box-shadow 0.3s ease;
  display: block;
  width: 100%;
  height: auto;

}
.will{
  position: absolute; 
  top: 78%; 
  left: 51%; 
  transform: translate(-50%, -50%); 
  color: rgb(255, 255, 255);
  font-size: 24px; 
  text-align: center; /* Alineación del texto */
  padding: 2px; /* Espaciado interno para el texto */
  padding-inline: 50px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(4, 235, 0);
.imagen{
display: block; 
width: 100%; /* Asegúrate de que la imagen se ajuste al contenedor */
height: auto; 

}
.foto{
  border: 1px solid black;
  border-radius: 10px ;
  overflow: hidden;
  box-shadow: 0 4px 8px black;
  white-space: 400px;
  margin: 15px;
  background-color: burlywood;
  transition: box-shadow 0.3s ease;
  display: block;
  width: 100%;
  height: auto;
}
  /* text-align: center;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  border-radius: 10px;
padding: 2px;  
padding-left: center;
margin-left: 0px;
margin-inline-end: 0px;
position: relative;
display: inline-block; */
}
